html {
  font-family: "Source Sans Pro", sans-serif;
  background-image: -webkit-linear-gradient(top, #e9e9e9, #eee);
  background-image: linear-gradient(top, #e9e9e9, #eee);
  padding: 25px;
}

body {
  font-size: 62.5%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

a {
  color: #284aac;
}

a:hover {
  color: #4b70d9;
}

a:visited {
  color: #85a5ff;
}

header {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1em;
  text-align: center;
  font-size: 2em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin-top: 0;
  font-size: 2.5em;
}

header p {
  font-size: 1em;
  line-height: 1.5em;
}

section {
  font-size: 1.6em;
}

section h2 {
  font-size: 1.875em;
}

section h3 {
  font-size: 1.25em;
}

code {
  background: #ccc;
  font-size: 0.9em;
  padding: 0 0.3em;
  border-radius: 3px;
}

footer {
  font-size: 1.4em;
  margin-top: 1em;
  padding: 1em 0;
  border-top: 1px solid #ccc;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid #284aac;
  background-color: #4b70d9;
  background-image: -webkit-linear-gradient(top, #85a5ff, #4b70d9);
  text-decoration: none;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.25);
  color: #fff;
  border-radius: 4px;
  padding: 0.3em 0.6em;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.social {
  margin-top: 25px;
}

.btn:hover {
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 720px;
}





/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333; border: none !important; border-radius: 4px; font-size: 0.8em; padding: 0.8em !important;}
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}