{
  "presets": [
    ["babel-preset-env", {
      targets: {
        browsers: ['last 2 versions'],
        node: 4
      },
      modules: false
    }]
  ],
  "plugins": [
    "./config/rename-internal"
  ],
  "env": {
    "test": {
      "presets": [
        ["es2015"]
      ]
    }
  }
}