{
  "presets": [
    ["@babel/preset-env", {
      targets: {
        browsers: ['last 2 versions'],
        node: 4
      },
      modules: false
    }]
  ],
  "plugins": [

  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          targets: {
            node: 'current'
          }
        }]
      ]
    }
  }
}