<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>currency.js</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
  <link rel="canonical" href="https://scurker.github.io/currency.js/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <style>
    body {
      font-family: "Source Sans Pro", sans-serif;
      background-color: #efefef;
      height: 100%;
      padding: 2em;
    }

    main {
      width: 100%;
      margin: 0 auto;
    }

    footer {
      margin-top: 1rem;
      padding-top: 1rem;
      font-size: .9em;
      border-top: 1px solid #ccc;
    }

    @media (min-width: 49em) {
      main {
        width: 45em;
      }
    }

    * { box-sizing: border-box; }

    header {
      border: 1px solid #ccc;
      background-color: #fff;
      padding: 1em;
      text-align: center;
    }

    .btn {
      display: inline-block;
      text-decoration: none;
      background: none;
      cursor: pointer;
      padding: 1em 2em;
      background-color: #fd5;
      color: #001c37;
      border-radius: .25em;
      transition: ease-in-out background-color 150ms;
    }

    .btn:hover {
      background-color: #da0;
    }

    header .btn {
      margin-top: 1em;
    }

    header p {
      margin-top: .5em;
    }

    pre {
      padding: .5em 0;
      white-space: pre-wrap;
    }

    code {
      background-color: #ccd8c3;
      color: #251;
      display: inline-block;
      padding: .2em .4em;
      border-radius: .25em;
      font-weight: 700;
      font-size: .8em;
    }

    pre > code {
      padding: 1em;
      display: block;
      background-color: #333;
      color: #c5c8c6;
      font-weight: 400;
    }

    .comment {
      color: #9b9b9b;
      font-style: italic;
    }

    .keyword,
    .literal {
      color: #b294b6;
    }

    .function {
      color: #d98383;
    }

    .number {
      color: #f0c674;
    }

    .string {
      color: #b5bd68;
    }

    .center {
      text-align: center;
    }
  </style>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
  <main>
    {{{ contents }}}
    <section>
      <h2>Issues/Feedback</h2>
      Found a problem? Have an idea? File an issue on <a href="https://github.com/scurker/currency.js/issues">GitHub</a>.
    </section>
    <footer>
      <a href="https://github.com/scurker/currency.js/blob/master/license">MIT Licensed</a> · Made by <a href="https://twitter.com/scurker">@scurker</a>
    </footer>
  </main>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41109714-1', 'scurker.github.io');
    ga('send', 'pageview');
  </script>
</body>
</html>
