name: gzip size

on: [pull_request]

jobs:
  gzip_size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: preactjs/gzip-size-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}